{% extends 'base.html' %}

{% block title %}
    Edit Memory
{% endblock title %}
    

{% block content %}
    

<center>
    <h1>Edit Memory</h1></center>
    <center>
        <div class="container border shadow-lg p-3 mb-5 bg-white rounded">
            <form action="" method="post">
                {% csrf_token %}
              {{form.error}}
            {% for fields in form %}
            <div class="mb-3 mt-3">
                {{fields.label}} <br>
                {{fields}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</center>

{% endblock content %}