{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
   <center> <h1>Hello {{request.user.username|title}}</h1>
    THESE ARE YOUR MEMORIES <br> <br>
   </center>
{% for m in memory %}
<div class="container border shadow-lg p-3 mb-5 bg-white rounded">

    <h5>{{m.title}}</h5>
    <p> {{m.content}}</p>
    {{m.created_date|naturaltime}}
<br><br>
    <a href="{% url 'editmem' slug=m.slug %}"><button class="btn btn-secondary">Edit</button></a> &nbsp;
    <a href="{% url 'deletemem' slug=m.slug %}"><button class="btn btn-secondary">Delete</button></a>
</div>
{% empty %}
<center>
<div class="card">
    <h1">No Items to show</h1>
</div>
</center>
{% endfor %}
    

{% endblock content %}
    
    